.farm-register {
  padding: 1rem;
}

.details-form-input {
  width: 100%;
}

.buttons{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px
}

.buttons button {
  width: 50%;
}

.error {
  color: red;
  font-size: 12px;
  width: 100%;
  text-align: center;
}