<div class="farm-register">
  <h1>Detalhes da Fazenda</h1>

  <mat-form-field appearance="fill" class="details-form-input">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="farm.name" placeholder="Digite o nome da fazenda" />
  </mat-form-field>
  <div *ngIf="nameInvalid" class="error" style="margin-top: -15px">
    *Gentileza digitar um nome válido
  </div>

  <!-- nesse ngIf eu pretendo esconder o campo abaixo caso o tipo de requisição seja de edição (id > 0) -->
  <mat-form-field *ngIf="farm.id == undefined" appearance="fill" class="details-form-input">
    <mat-label>Area</mat-label>
    <input matInput disabled [(ngModel)]="farm.area" placeholder="Area" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="details-form-input">
    <mat-label>Owner</mat-label>
    <mat-select (selectionChange)="changeFarmOwner($event)" [value]="owner">
      <mat-option *ngFor="let owner of owners" [value]="owners">
        {{ owner.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="draw-farm">
    <app-farm (geometryEvent)="receiveGeometry($event)"></app-farm>
    <div *ngIf="geometryMissing" class="error" style="margin-top: 10px">
      *O desenho da fazenda é obrigatório no momento da criação
    </div>
  </div>

  <div class="buttons">
    <button mat-raised-button (click)="submit(farm.id)" color="primary">Salvar</button>
    <button mat-raised-button color="secondary" style="margin-left: 1rem" href="/" routerLink="/">
      Voltar
    </button>
  </div>
</div>
