<mat-card>
  <h1 style="color: #7a4e8a">Detalhes da {{ farm.name }}</h1>

  <div class="details-row">
    <div class="details-label">
      <label for="">Fazenda: </label>
    </div>
    <div>{{ farm.name }}</div>
  </div>

  <div class="details-row">
    <div class="details-label">
      <label>Proprietário:</label>
    </div>
    <div *ngIf="owner">
      {{ farm.owner.name }}
    </div>
    <div *ngIf="!owner" class="details-owner">Sem proprietário cadastrado</div>
  </div>

  <div class="details-row">
    <div class="details-label">
      <label for="">Centroid: </label>
    </div>
    <div *ngIf="farm.centroid">{{ farm.centroid.coordinates }}</div>
    <div *ngIf="!farm.centroid" class="details-name">Sem centroid cadastrado</div>
  </div>

  <div class="details-row">
    <button mat-raised-button (click)="openEditPage()" color="primary" style="margin-left: 35px">
      Editar
    </button>
    <button mat-raised-button color="error" (click)="deleteFarm()" style="margin-left: 15px">
      Excluir
    </button>
    <button mat-raised-button routerLink="" color="secondary" style="margin-left: 15px">
      Voltar
    </button>
  </div>
</mat-card>
